@import 'Color';
@import 'Button';
@import 'Spacing';

body {
  background : #222;
  color      : #ededed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align : center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#speed, #altitude {
  font-size: 7rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}
